<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- general application log -->

    <appender name="MainLogFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:/Test/server.log"/>
        <!--<param name="Threshold" value="ERROR"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="FirstFileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:/Test/first.log"/>
        <!--<param name="Threshold" value="ERROR"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="SecondFileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:/Test/second.log"/>
        <!--<param name="Threshold" value="ERROR"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <logger name="FirstLogger">
        <param name="additivity" value="false"/>
        <appender-ref ref="FirstFileAppender"/>
    </logger>

    <logger name="by.bntu.fitr.povt.alexeyd.lab18.exercise4.xml.secondpackage.Second">
        <param name="additivity" value="false"/>
        <param name="level" value="INFO"/>
        <appender-ref ref="SecondFileAppender"/>
    </logger>

    <root>
        <level value="TRACE"/>
        <appender-ref ref="MainLogFile"/>
    </root>
</log4j:configuration>